<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://api.openweathermap.org; style-src 'self' 'unsafe-inline'; connect-src 'self' https://api.openweathermap.org; img-src 'self' http://openweathermap.org">
  <title>Weather App</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>
  <div class="wrapper">
    <section class="app">
      <div class="container">
        <div class="app__wrap">
          <div class="weather-card card">
            <div class="card-body">
              <h2 class="text-center mb-4 card-title">Weather Information</h2>
              <form id="cityForm">
                <div class="mb-3">
                  <label for="city" class="form-label">Enter Your City Name</label>
                  <input type="text" class="form-control" id="city" placeholder="City Name" required>
                </div>
                <button type="submit" class="btn btn-outline-primary w-100">Get Weather</button>
              </form>
              <div class="weather-card__content mt-4 hidden">
                <div id="weatherIcon" class="text-center"></div>
                <h3 id="temperature" class="text-center mt-4">Temperature: <span></span></h3>
                <h3 id="temperatureFeelsLike" class="text-center">Temperature feels like: <span></span>
                </h3>
                <p id="weatherDescription" class="text-center"></p>
                <p id="location" class="text-center"></p>
                <p id="coordinates" class="text-center"></p>
              </div>
              <div id="errorMessage" class="mt-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../assets/scripts/script.js"></script>
</body>

</html>